.assets
.env
config.json
env/
*.pyc
dist/
node_modules/
.next/
.env.local
.env.development.local
build/
docs/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
__pycache__/
poetry.lock
.pytest_cache/
botpy.log
tests/
.nanobot/
.next/
node_modules/
bridge/node_modules/
dist/
env/